<div class="flex flex-col items-center gap-4 justify-center">
  <%= render_typography(tag: :h1, content: "New Password") %>

  <%= render "form", password: @password, user_password: @user_password %>
</div>
