<div id="<%= dom_id password %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= password.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= password.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password:</strong>
    <%= password.password %>
  </p>

</div>
